# hello

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('diabetes_prediction_dataset.csv')
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [3]:
categorical_cols = ['gender', 'smoking_history']

In [4]:
Ohe = OneHotEncoder()

In [5]:
encoded_features = Ohe.fit_transform(df[categorical_cols])

In [6]:
categorical_cols = ['gender', 'smoking_history']

# Initialize OneHotEncoder with the correct argument
encoder = OneHotEncoder(sparse_output=False)

In [7]:
# Fit and transform the categorical columns
encoded_features = encoder.fit_transform(df[categorical_cols])

In [8]:
# Create a DataFrame for the encoded features
encoded_df = pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out(categorical_cols))

In [9]:

# Concatenate the original DataFrame (excluding the original categorical columns) with the encoded DataFrame
df_encoded = pd.concat([df.drop(columns=categorical_cols), encoded_df], axis=1)

In [10]:
# Display the final DataFrame
df_encoded

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,80.0,0,1,25.19,6.6,140,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,54.0,0,0,27.32,6.6,80,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,28.0,0,0,27.32,5.7,158,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,36.0,0,0,23.45,5.0,155,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,76.0,1,1,20.14,4.8,155,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,80.0,0,0,27.32,6.2,90,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
99996,2.0,0,0,17.37,6.5,100,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
99997,66.0,0,0,27.83,5.7,155,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
99998,24.0,0,0,35.42,4.0,100,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
99999,57.0,0,0,22.43,6.6,90,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [11]:
scaler=StandardScaler()

In [12]:
numerical_cols = ['age', 'hypertension', 'heart_disease', 'bmi', 'HbA1c_level', 'blood_glucose_level']
df_encoded[numerical_cols] = scaler.fit_transform(df_encoded[numerical_cols])

In [13]:
standardscalar

NameError: name 'standardscalar' is not defined

In [ ]:
X = df_encoded.drop(columns=["diabetes"])  # Features
y = df_encoded['diabetes']  # Ensure this is a Series

In [ ]:
x_train,y_train,x_test,y_test = train_test_split(X,y,test_size=0.3, random_state=42)

In [ ]:
print(y_train.shape)  # Should output (n,) for 1D array

In [ ]:
print(y.shape)

In [ ]:
model = LogisticRegression(max_iter=1000)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# Load the dataset
df = pd.read_csv('diabetes_prediction_dataset.csv')

# Check the first few rows of the DataFrame
print(df.head())

# Specify categorical columns
categorical_cols = ['gender', 'smoking_history']

# Initialize OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)

# Fit and transform the categorical columns
encoded_features = encoder.fit_transform(df[categorical_cols])

# Create a DataFrame for the encoded features
encoded_df = pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out(categorical_cols))

# Concatenate the original DataFrame (excluding the original categorical columns) with the encoded DataFrame
df_encoded = pd.concat([df.drop(columns=categorical_cols), encoded_df], axis=1)

# Specify numerical columns
numerical_cols = ['age', 'hypertension', 'heart_disease', 'bmi', 'HbA1c_level', 'blood_glucose_level']

# Scale the numerical features
scaler = StandardScaler()
df_encoded[numerical_cols] = scaler.fit_transform(df_encoded[numerical_cols])

# Split features and target
X = df_encoded.drop(columns=["diabetes"])  # Features
y = df_encoded['diabetes']   # Ensure y is a 1D array

# Train-test split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize the Logistic Regression model
model = LogisticRegression()

# Fit the model
model.fit(x_train, y_train)

In [ ]:
# Make predictions on the test data
predictions = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, predictions)
print(f'Accuracy: {accuracy:.2f}')

In [ ]:
conf_matrix = confusion_matrix(y_test, predictions)
print('Confusion Matrix:')
print(conf_matrix)

In [15]:
import numpy as np
speed = [86,87,88,86,87,85,86]
x = numpy.std(speed)
print(x)

NameError: name 'numpy' is not defined